<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>COMP308-Lab2 :: Feedback</title>

    <!-- Bootstrap for responsive pages -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- Font awesome for nice icons -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/app.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">COMP308-Ass02</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <% if (isAdmin) { %>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/view-feedback">View Feedback</a>
                </li>
            </ul>
            <% } %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <form method="post">
            <div class="row">
                <div class="col">&nbsp;</div>
                <div class="col-8 app-box">
                    <div class="form-row">
                        <div class="col-12 text-center app-box-title">
                            <h4>Feedback</h4>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                            <label for="firstName">First Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input id="firstName"
                                       name="firstName"
                                       type="text"
                                       class="form-control"
                                       value="<%= firstName %>"
                                       readonly />
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="lastName">Last Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                                <input id="lastName"
                                       name="lastName"
                                       type="text"
                                       class="form-control"
                                       value="<%= lastName %>"
                                       readonly />
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </div>
                                </div>
                                <input id="email"
                                       name="email"
                                       type="text"
                                       class="form-control"
                                       value="<%= email %>"
                                       readonly />
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="motherTongue">Mother tongue</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-globe"></i>
                                    </div>
                                </div>
                                <input id="motherTongue"
                                       name="motherTongue"
                                       type="text"
                                       class="form-control"
                                       value="<%= motherTongue %>"
                                       readonly />
                            </div>
                        </div>
                        <div class="col-6 mt-3">
                            <label for="favoriteLang">Favorite programming language</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-desktop"></i>
                                    </div>
                                </div>
                                <input id="favoriteLang"
                                       name="favoriteLang"
                                       type="text"
                                       class="form-control"
                                       value="<%= favoriteLang %>"
                                       readonly />
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="comments">Your comments:</label>
                            <textarea id="comments"
                                      name="comments"
                                      maxlength="500"
                                      rows="5"
                                      cols="50"
                                      class="form-control"></textarea>
                        </div>
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="btn btn-primary pr-5 pl-5">Submit Feedback</button>
                        </div>
                    </div>
                </div>
                <div class="col">&nbsp;</div>
            </div>
        </form>
    </div>
</body>
</html>